@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(246deg, #02f 0%, #e0f 100.44%);
  font-family: Poppins, sans-serif;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*About me*/
.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 750px;
  width: 750px;
  background-color: #00000048;
  border: 3px solid #00ee9b;
  border-radius: 50px;
  padding: 20px;
  margin-top: 100px;
}

.about-text {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  width: 500px;
  text-align: center;
  font-weight: 300;
}

.about-card img {
  height: 200px;
  object-fit: contain;
  border-radius: 250px 250px 250px 250px;
  background-color: #00ffaa37;
}

.cv-button {
  display: flex;
  width: 100px;
  padding: 6px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: #00ee9b;

  margin: 10px;
}
.cv-button:hover {
  background: #03ffa7;
}

.cv-button a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.download-icon {
  font-size: 2rem;
}

h1 {
  color: #00ee9b;

  font-family: "Source Code Pro";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/**/
#contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  background-color: #00000048;
  border: 3px solid #00ee9b;
  width: 500px;
}

.social-links a {
  color: #00ee9b;
  margin: 10px;
}
.social-links a:hover {
  color: #e0f;
}
.contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  background-color: #00000048;
  border-radius: 50px;
  margin-bottom: 10px;
  color: white;
}
.contact-info h3 {
  font-weight: 250;
}
.contact-info svg {
  color: rgb(220, 14, 239);
  margin: 10px;
}
.contact-heading {
  color: white;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/*  Header  */
header a {
  margin: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #00ee9b;
  transform: scale(1.1);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  color: #00ee9b;
  font-family: Source Code Pro, Poppins;
  position: sticky;

  background-color: #00000048;
}

header h1 {
  font-size: 25px;
  margin: 10px;
}

/* Section */
section {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Tools */
.tools {
  font-size: 50px;
  display: flex;

  border-radius: 50px;
}
.toolbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  padding: 2rem;
  background-color: #01091555;
  border: 3px solid #00ee9b;
  border-radius: 25px;
  height: 500px;
}

svg {
  font-size: 3rem;
}

.icon {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px;
  color: #00ee9b;
  background-color: rgba(29, 10, 10, 0.477);
  border-radius: 50px;
}
.icon:hover {
  cursor: pointer;
}

.icon.selected {
  border: 2px solid #00ee9b;
  background-color: #03ffa75c;
  color: #00ee9b;
}

.tool-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #00ee9b;
  background-color: #01091555;
  width: 650px;
  height: 250px;
  padding: 2rem;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}

#tools-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 3rem;
}
/*Project Card*/
#project-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
  padding: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .project-card-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.project-card {
  display: flex;
  width: 525px;
  height: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 25px;
  border: 3px solid #00ee9b;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}
.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-justify: newspaper;
  margin: 10px;

  padding: 15px;
  font-weight: 300;
}

.languages {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00ee9b;
}

.language {
  margin: 10px;
}

.project-heading {
  color: #00ee9b;
  text-align: center;
  font-size: 2rem;
  height: 25px;
  margin: 10px;
}

.project-image {
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 20px;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.project-links {
  color: #00ee9b;
  font-size: 20px;
  margin: 10px;
}
.project-links:hover {
  color: #e0f;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
